NODE_ENV=development
PORT=3000

# PostgreSQL
DATABASE_URL=postgresql://user:password@localhost:5432/agenda_chopp

# Google Calendar API
GOOGLE_CLIENT_EMAIL=
GOOGLE_PRIVATE_KEY=
GOOGLE_CALENDAR_ID=

# Frontend
VITE_API_URL=http://localhost:3000
